body {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
}
header {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  height: 80px;
}
a {
  text-decoration: none;
}
h1 {
  padding-left: 452px;
  padding-top: 200px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  width: 696px;
}
.spacing {
  display: inline;
  padding: 26px;
}
.header-contacts {
  margin-left: 200px;
}
li {
  list-style-type: none;
}
footer {
  background: #2f303a;
  padding-left: 215px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.logo {
  margin-left: 215px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo-bottom {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: white;
}
.blue-color {
  color: #2196f3;
}
.gray-color {
  color: #757575;
}
.black-color {
  color: #212121;
}
.button-main {
  margin-left: 700px;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}
.first-block {
  height: 600px;
  background: #2f303a;
}
.description {
  display: flex;
  justify-content: center;
  margin-top: 94px;
}
.description-box {
  padding-left: 30px;
}
.description-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
}
.secondary-block {
  text-align: center;
}
.headline-description {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.team {
  display: flex;
  text-align: center;
  justify-content: center;
  background: #f5f4fa;
}
.how-we-do-header {
  margin-top: 94px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-header {
  margin-top: 100px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.teammates-person {
  text-align: center;
  width: 270px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.address {
  padding-left: 0;
}
.street {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.foot-contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*portfiolio css*/

.portfolio-buttons {
  padding-top: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}
.all {
  width: 121px;
  border: none;
  height: 38px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.other {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  width: 121px;
  height: 38px;
  color: #212121;
}
.portfolio-content {
  margin: 0;
  width: 370px;
  height: 404px;
  display: inline;
}
.portfolio-box {
}
.portfolio-headers {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
